const Application = ({ data, onChange }) => (
  <MuiThemeProvider>
    <div>
      <input type="text" onChange={onChange} />
      <List>
        {data.map(
          ({ title, icon }) => <ListItem primaryText={title} leftIcon={icon} />
        )}
      </List>
    </div>
  </MuiThemeProvider>
)

render(
  <Application
    data={getDataFromBackend()}
    onChange={(e) => alert(e.target.value)}
    />,
  mountNode
)